In [3]:
import pandas as pd
import numpy as np
data=pd.read_csv("D:/ml datasets/cardio.csv",delimiter=';')
#loading the data

In [7]:
data.head()

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
0,0,18393,2,168,62.0,110,80,1,1,0,0,1,0
1,1,20228,1,156,85.0,140,90,3,1,0,0,1,1
2,2,18857,1,165,64.0,130,70,3,1,0,0,0,1
3,3,17623,2,169,82.0,150,100,1,1,0,0,1,1
4,4,17474,1,156,56.0,100,60,1,1,0,0,0,0

In [4]:
data=pd.DataFrame(data)
print("number of rows are "+str(len(data.axes[0])))
print("number of coulmns are "+str(len(data.axes[1])))

number of rows are 70000
number of coulmns are 13

In [6]:
data=data.drop_duplicates()
#drop the duplicates

In [5]:
data=data.dropna()
#drop the rows which are not assigned(empty)

In [11]:
# data x will be our inputs
# data y will be our outputs
x=data.drop(["id","cardio"],axis="columns")
#having id is of no use ,so we are removing it from our dataframe

#removing target attribute from inputs
y=data.cardio

In [12]:
x.head()

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active
0,18393,2,168,62.0,110,80,1,1,0,0,1
1,20228,1,156,85.0,140,90,3,1,0,0,1
2,18857,1,165,64.0,130,70,3,1,0,0,0
3,17623,2,169,82.0,150,100,1,1,0,0,1
4,17474,1,156,56.0,100,60,1,1,0,0,0

In [13]:
y.head()

0    0
1    1
2    1
3    1
4    0
Name: cardio, dtype: int64

In [15]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(x,y,test_size=0.25)
#here we are spliting our data in to train and test data
#traindata=75% of data
#testdata=25% of data
#the main reason we split the data in to test and train is we use train data to  build the model and we test data to check the accuracy of our model.

In [16]:
from sklearn.ensemble import RandomForestClassifier
model=RandomForestClassifier(n_estimators=200,random_state=0)
model.fit(X_train,Y_train)
#building the model

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=200,
                       n_jobs=None, oob_score=False, random_state=0, verbose=0,
                       warm_start=False)

In [18]:
Y_predict=model.predict(X_test)
Y_predict
#predicting by giving test data as input

array([0, 1, 0, ..., 1, 0, 0], dtype=int64)

In [20]:
from sklearn.metrics import confusion_matrix
confusion_matrix(Y_predict,Y_test)
#confusion matrix

array([[6410, 2621],
       [2415, 6054]], dtype=int64)

In [22]:
from sklearn.metrics import accuracy_score
accuracy_score(Y_test,Y_predict)
#checking the accuracy of our model

0.7122285714285714